*{
    margin: 0;
}
.descriptionbox{
    margin: 40px 100px; /* Changed from -50px to positive margin */
    /* Removed fixed height 70vh to allow auto height */
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    width: 170px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #d0d0d0;
    padding: 30px;
}

@media(max-width:1280px){
    .descriptionbox{
        margin: 40px 60px;
    }
}

@media(max-width:1024px){
    .descriptionbox{
        margin: 40px 30px;
    }
}

@media(max-width:800px){
    .descriptionbox{
        margin: 40px 10px;
    }
    .descriptionbox-nav-box{
        width: 120px;
        height: 50px;
        font-size: 13px;
    }
    .descriptionbox-description{
        padding: 20px;
    }
}

@media(max-width:500px){
    .descriptionbox-nav-box{
        width: 100px;
        height: 45px;
        font-size: 12px;
    }
    .descriptionbox-description{
        padding: 15px;
        font-size: 13px;
    }
}




