.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto; /* Allow growth */
  min-height: 80vh;
  margin-bottom: 60px;
}

.popular h1 {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}

.popular hr {
  width: 150px;
  height: 6px;
  border-radius: 10px;
  background: var(--secondary-color);
}

.popular-item {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 90%;
  max-width: 1280px;
}

@media(max-width:1280px){
    .popular-item{
        gap: 20px;
    }
}

@media(max-width:1024px){
    .popular-item{
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:800px){
    .popular h1{
        font-size: 32px;
    }
    .popular hr{
        width: 100px;
        height: 4px;
    }
    .popular-item{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media(max-width:500px){
    .popular-item{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .popular h1 {
        font-size: 24px;
    }
}


